/* Test classes */
.stack {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.stack img {
    width: 50%;
    height: auto;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}